<h1>test updateheronickname</h1>
<form action="/api/UpdateHeroNickNameById" method="post">
    <input type="text" name="hero_id" placeholder="id">
    <input type="text" name="name" placeholder="name">
    <button type="submit">submit</button>
</form>

<h1>Create hero</h1>
<form action="/api/CreateHero" method="post">
    <input type="text" name="nickname" placeholder="nickname">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="email" placeholder="email">
    <input type="number" name="age" placeholder="age">
    <input type="text" name="image" placeholder="image">
    <input type="text" name="heroHistoryInfo" placeholder="heroHistoryInfo">
    <input type="text" name="background" placeholder="background">
    <input type="text" name="power" placeholder="power">
    <input type="text" name="backgroundimage" placeholder="backgroundimage">
    <button type="submit">submit</button>
</form>
