body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(255, 0, 0);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c72c2c;
}

body {
    background-image: url('../images/4kallheroes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

.container {
    padding: 50px;
}